<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true"
	scanPeriod="10 seconds">

 	<property name="log.path" value="logs" /> 

<!-- 	<property name="CONSOLE_LOG_PATTERN"
		value="%date{yyyy-MM-dd HH:mm:ss} | %highlight(%-5level) | %boldYellow(%thread) | %boldGreen(%logger) | %msg%n" />
	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender> -->

	<!-- 日志写入控制台 -->
	<appender name="consoleLog"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>
				%d - %msg%n
			</pattern>
		</layout>
	</appender>

	<appender name="filealllog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>${log.path}/LV-all.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.path}/LV-all-%d{yyyy-MM-dd}-%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder><!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
		<append>true</append>
		<prudent>false</prudent>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<!-- <onMatch>ACCEPT</onMatch> <onMismatch>DENY</onMismatch> -->
		</filter>
	</appender>

	<appender name="fileinfolog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>${log.path}/LV-info.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.path}/LV-info-%d{yyyy-MM-dd}-%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder><!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
		<append>true</append>
		<prudent>false</prudent>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="fileerrorlog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>${log.path}/LV-error.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.path}/LV-error-%d{yyyy-MM-dd}-%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder><!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
		<append>true</append>
		<prudent>false</prudent>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="consoleLog" />
		<appender-ref ref="filealllog" />
		<appender-ref ref="fileinfolog" />
		<appender-ref ref="fileerrorlog" />
	</root>
</configuration> 